.fullheight {
  height: 100%;
}

.ui.search > .results {
  max-height: 350px;
  overflow-y: auto;
}

.ui.search > .results .result .image {
  height: auto;
  width: 4em;
}

.ui.labeled.button .ui.label.image img {
  height: 2.36em !important; /* whyyyy */
}

.ui.list:not(.horizontal) > .item.movie {
  display: flex;
}

.item.movie .content.right {
  order: 3;
  display: flex;
  align-items: center;
  flex: 0;
}

.item.movie .content {
  flex: 1;
}

.ui.search > .results .result .image img {
  width: 4em;
  height: auto;
}

.ui.header > .icon:only-child,
.icon:only-child {
  margin: 0;
}

.description.tiny {
  font-size: 0.625em;
}

.dimmer.rounded {
  border-radius: 0.3125em;
}

.list .item.dimmable .dimmer .description {
  color: white;
}

.ui.horizontal.list .item.dimmable {
  padding: 0;
}

.dimmer.semi.transparent {
  background: rgba(0, 0, 0, 0.4);
}

.ui.list > .item > .image.label {
  background: #e8e8e8;
}

a.label {
  user-select: none;
}

.field {
  width: 100%;
  position: relative;
}

.field .outside.right.pointing {
  position: absolute;
  right: 100%;
  margin-top: 4px;
}

.muted {
  color: rgba(0,0,0,0.5);
  font-size: 0.8em;
}
